.deliveries-info {
    box-shadow: 0px 20px 40px rgba(238, 77, 71, 0.1);
    border-radius: 10px; 
}

.person-info h4 {
    display: inline-block;
    justify-content: space-around;
    font-family: Rubik;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 40px;
    height: 38px;
    color: #402B2B;
}

td ~ td{
    margin-left: 30px;
    width: 92px;
}

table{
    border-spacing: 0px;
}
