.deliveries-info {
    /* position: relative; */
    /* float: left; */
    /* width: 493.77 px;
    height: 416.48 px; */
    border: 1px solid;
}


.person-info h4 {
    display: inline;
    justify-content: space-around;
    font-family: Rubik;
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 40px;
    height: 38px;
    /* or 222% */

    /* text */
    color: #402B2B;
}
h4 ~ h4{
    margin-left: 30px;
}
